.App {
  text-align: center;
}

ul li {
  list-style: none;
  display: inline;
  margin-top: 0px;
  padding-right: 64px;
}

body {
  background-image: url('https://wallpapercave.com/wp/wp3170171.png');
  background-repeat: no-repeat;
  background-position: top;
  background-color: teal;

}

* {
  margin: 0;
  padding: 0;
}